
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-facebook:before { content: "\e612"; }
.icon-weibo:before { content: "\e613"; }
.icon-twitter:before { content: "\e614"; }
.icon-play:before { content: "\e61e"; }
.icon-mail:before { content: "\e615"; }
.icon-up:before { content: "\e600"; }
.icon-qq:before { content: "\e616"; }
.icon-yiguanzhu:before { content: "\e601"; }
.icon-weiguanzhu:before { content: "\e602"; }
.icon-biaoqingmoon:before { content: "\e606"; }
.icon-biaoqingsun:before { content: "\e607"; }
.icon-down:before { content: "\e603"; }
.icon-leftquote:before { content: "\e608"; }
.icon-crown:before { content: "\e609"; }
.icon-mail1:before { content: "\e617"; }
.icon-navicomenu:before { content: "\e604"; }
.icon-iconfuzhi:before { content: "\e618"; }
.icon-smile:before { content: "\e619"; }
.icon-icon_friend:before { content: "\e60a"; }
.icon-pause:before { content: "\e61f"; }
.icon-0457linkedin:before { content: "\e61a"; }
.icon-liebiao:before { content: "\e60b"; }
.icon-gengduo:before { content: "\e60c"; }
.icon-iosfloweroutline:before { content: "\e60d"; }
.icon-flower:before { content: "\e60e"; }
.icon-leaf:before { content: "\e60f"; }
.icon-link:before { content: "\e610"; }
.icon-xingxing:before { content: "\e611"; }
.icon-26:before { content: "\e605"; }
.icon-github:before { content: "\e61b"; }
.icon-googleplus3:before { content: "\e61c"; }
.icon-rss:before { content: "\e61d"; }
.icon-pause1:before { content: "\e620"; }
.icon-play1:before { content: "\e621"; }
